---
import en from '../../../i18n/en';
import es from '../../../i18n/es';
import Layout from '../../../layouts/Layout.astro';
import Project from '../../../sections/main/Project.astro';
import type { Language } from '../../../types/language.type';
export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

export const defaultRedirect = '/en';

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];
---
<Layout lang={lang} t={t}>
  <section class="py-[165px] md:pt-[371px] md:pb-[250px] flex flex-col justify-center items-center w-full relative overflow-hidden">
    <img src={`/residential.webp`} alt="Fondos de Galeria" width="3072" height="4096" class="absolute inset-0 w-full h-full object-cover -z-20" loading="lazy" decoding="async"/>
    <div class="flex flex-col justify-center items-center gap-2 md:gap-8">
      <h1 class="text-[32px] md:text-[96px] font-semibold leading-[46px] md:leading-[96px] text-center text-white" set:html={t.gallery.title} data-aos="flip-down" data-aos-offset="300"></h1>
    </div>
  </section>
  <section class="grid grid-cols-3 gap-[10px] max-w-screen lg:max-w-[1142px] py-10 md:py-[93px] w-full px-4 lg:px-0 justify-center items-center mx-auto" data-aos="zoom-in" data-aos-offset="200">
    {t.gallery.items.map((item, index) => (
        <div class="w-full h-[153px] sm:h-[350px] lg:h-[450px] rounded-[15px] relative overflow-hidden">
          <img src={item} alt="Fotos de Galeria" width="3072" height="4096" class="absolute inset-0 w-full h-full object-cover " loading="lazy" decoding="async"/>
        </div>
      ))}
  </section>
  <Project content={t.gallery.project}/>
</Layout>