---
import { Icon } from 'astro-icon/components';
import en from '../../../i18n/en';
import es from '../../../i18n/es';
import Layout from '../../../layouts/Layout.astro';
import type { Language } from '../../../types/language.type';
export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

export const defaultRedirect = '/en';

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];
---
<Layout lang={lang} t={t}>
  <section class="pt-[160px] pb-[180px] flex flex-col justify-center items-center w-full relative overflow-hidden">
    <img src={`/contact.webp`} alt="Fondos de Galeria" width="3072" height="4096" class="absolute inset-0 w-full h-full object-cover -z-20 opacity-50" loading="lazy" decoding="async">
    <div class="absolute inset-0 blue-gradient -z-10"></div>
    <div class="flex flex-col justify-center items-center gap-8">
      <h1 class="text-[89px] font-semibold leading-[96px] text-center text-white " set:html={t['about-us'].title}></h1>
    <Icon name={"separate"} class={"w-[205px] h-auto"}/>
    </div>
  </section>
  <section class="w-full pt-[110px] pb-[96px] flex flex-col justify-center items-center gap-[20px] max-w-[1153px]">
    <div class="flex flex-col justify-center items-start gap-1 w-full">
      <h2 class="text-[40px] font-semibold text-primary-dark-bold leading-[46px]">{t.contact.text}</h2>
      <p class="text-[16px] font-normal text-start">{t.contact.description}</p>
    </div>
    <div class="w-full flex justify-center items-start gap-[50px]">
      <div class="flex-1 flex flex-col justify-center items-center gap-[42px]">
        <div class="w-full flex flex-col justify-center items-start border-[1px] border-[#0468A6] rounded-[15px] overflow-hidden">
        <div class="w-full py-[11px] px-5 gap-5 flex justify-start items-center">
          <img src="/phone.svg" alt="Telefono" width="36" height="36">
          <a href="" class="text-[20px] font-semibold leading-[46px] ">+1(954) 716-4971</a>
        </div>
        <div class="h-[1px] w-full bg-[#0468A6]"></div>
        <div class="w-full py-[11px] px-5 gap-5 flex justify-start items-center">
          <Icon name={"email"} class={"w-9 h-9 text-primary-dark"}/>
          <a href="" class="text-[20px] font-semibold leading-[46px] ">jzpressurepros@gmail.com</a>
        </div>
        <div class="h-[1px] w-full bg-[#0468A6]"></div>
        <div class="py-[25px] px-[33px] gap-5 h-[200px] flex-col justify-center items-start">
          <p class="text-[20px] font-semibold leading-[32px] ">{t.contact.schedules.title}</p>
          <div class=" w-full flex justify-start items-center gap-1 ">
            <p class="text-[16px] font-medium leading-[32px] text-primary-dark-bold">{t.contact.schedules.description}</p>
            <p class="text-[16px] font-medium leading-[32px] text-primary-dark-bold">: 9:00 am - 8:00 pm</p>
          </div>
          <div class="w-full flex justify-start items-center gap-1 ">
            <p class="text-[16px] font-medium leading-[32px] text-primary-dark-bold">{t.contact.schedules.text}</p>
            <p class="text-[16px] font-medium leading-[32px] text-primary-dark-bold">: 12:00 pm - 8:00 pm</p>
          </div>
        </div>
      </div>
      <div class="w-full h-[451px] bg-[#787878] rounded-[15px]">
        </div>
    </div>
    <div class="w-[444px] h-[838px] rounded-[15px] bg-[#787878]">
    </div>
  </section>
</Layout>