---
import { Icon } from 'astro-icon/components';
import en from '../../../i18n/en';
import es from '../../../i18n/es';
import Layout from '../../../layouts/Layout.astro';
import type { Language } from '../../../types/language.type';
export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

export const defaultRedirect = '/en';

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];
---
<Layout lang={lang} t={t}>
  <section class="pt-[160px] pb-[180px] flex flex-col justify-center items-center w-full relative overflow-hidden">
    <img src={`/about.webp`} alt="Fondos de Galeria" width="3072" height="4096" class="absolute inset-0 w-full h-full object-cover -z-20 opacity-50" loading="lazy" decoding="async">
    <div class="absolute inset-0 blue-gradient -z-10"></div>
    <div class="flex flex-col justify-center items-center gap-8">
      <h1 class="text-[89px] font-semibold leading-[96px] text-center text-white " set:html={t['about-us'].title}></h1>
    <Icon name={"separate"} class={"w-[205px] h-auto"}/>
    </div>
  </section>
  <section class="flex justify-center items-center gap-[121px] mt-[58px] py-[27.5px]">
    <div class="size-[214px] rounded-full bg-primary-light"></div>
    <p class="text-[16px] font-normal text-start leading-[25px] max-w-[478px]" set:html={t['about-us'].description}></p>
  </section>
  <section class="flex justify-center items-center gap-[79px] mt-[151px]">
    {
      Array.from({ length: 3 }).map(_=>(
        <div class="py-12 px-[90px] rounded-[20px] shadow-div">
          <img src="/main/google.png" alt="Icono de Google" width="97px" height="54px" class="w-[139px] h-[78px]">
        </div>
      ))
    }
  </section>
  <section class="flex justify-center items-start gap-[38px] max-w-[1134px] mt-[151px] pb-8">
    <div class="w-[560px] h-[322px] rounded-[15px] bg-[#787878]">
    </div>
    <div class="flex flex-col justify-center items-start gap-2">
      <Icon name={"separate"} class={"w-[205px] h-auto"}/>
      <h2 class="text-[44px] font-semibold text-primary-dark">{t['about-us'].team.title}</h2>
      <p class="text-[16px] font-normal leading-[25px] max-w-[478px]" set:html={t['about-us'].team.description}></p>
    </div>
  </section>
  <section class="flex flex-col justify-center items-center mt-[151px] mb-[96px] gap-10 max-w-[1134-px]">
    <h2 set:html={t['about-us'].stand.title} class="text-[40px] text-primary-dark-bold font-normal text-center"></h2>
    <div class="w-full flex flex-col justify-center items-center gap-10">
      {t['about-us'].stand.list.map(item=>(
        <div class="w-full flex justify-center items-center gap-[115px] py-10 px-[96px] rounded-[15px] border-[3px] border-[#0468A6]">
          <p class="text-[128px] font-semibold text-center text-primary-dark-bold">{item.letter}</p>
          <div class="flex flex-col justify-center items-start gap-[15px] w-full"   >
            <div class="w-full bg-primary-dark-bold text-white rounded-[15px] px-[25px] py-[14px] ">
              <p class="text-[64px] font-semibold text-start">{item.title}</p>
            </div> 
            <p class="text-[16px] leading-[25px] text-normal text-start">{item.description}</p>
          </div>
        </div>
       ))}
    </div>
  </section>
</Layout>