---
import en from '../../../i18n/en';
import es from '../../../i18n/es';
import Layout from '../../../layouts/Layout.astro';
import Project from '../../../sections/main/Project.astro';
import type { Language } from '../../../types/language.type';
export function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }];
}

export const defaultRedirect = '/en';

const lang = Astro.params.lang as Language;
const translations = { es, en };
const t = translations[lang];
---
<Layout lang={lang} t={t}>
  <section class="py-[165px] md:pt-[371px] md:pb-[250px] flex flex-col justify-center items-center w-full relative overflow-hidden">
    <img src={`/commercial.webp`} alt="Fondos de Galeria" width="3072" height="4096" class="absolute inset-0 w-full h-full object-cover -z-20" loading="lazy" decoding="async">
    <div class="flex flex-col justify-center items-center" data-aos-offset="300">
      <h1 class="text-[32px] md:text-[96px] font-semibold leading-[46px] md:leading-[96px] text-center text-white" set:html={t['about-us'].title} data-aos="flip-down" ></h1>
      <img src="/arrow-up.png" alt="Flecha izquierda" width="50" height="50" class="w-[25px] md:w-[50px] h-[24px] md:h-[50px] ">
    </div>
  </section>
  <section class="flex flex-col md:flex-row justify-center items-center gap-[15px] md:gap-12 lg:gap-[121px] mt-[9px] md:mt-[58px] pt-[31px] pb-[25px] md:py-[0px] max-w-screen lg:max-w-none px-4 lg:px-0" data-aos="zoom-out-up" data-aos-offset="200">
    <a href="/">
      <img src="/logo-2.svg" alt="Logo de PresureProps" width="218" height="218" class="cursor-pointer w-[173px] md:w-[305px] h-[173px] md:h-[305px]">
    </a>
    <p class="text-[13px] md:text-[16px] font-normal text-center md:text-start leading-[20px] md:leading-[25px] max-w-[478px]" set:html={t['about-us'].description}></p>
  </section>
  <section class="flex justify-center items-center gap-[18px] md:gap-[79px] mt-[47px] lg:mt-[151px] max-w-screen lg:max-w-none px-4 lg:px-0">
    {
      Array.from({ length: 3 }).map((_,i)=>(
        <div class={`py-[15px] md:py-12 px-[30px] md:px-[90px] rounded-[20px] shadow-div ${i===2?"hidden lg:flex":"flex"}`}>
          <img src="/main/google.png" alt="Icono de Google" width="97px" height="54px" class="w-[106px] md:w-[139px] h-[59px] md:h-[78px]">
        </div>
      ))
    }
  </section>
  <section class="flex flex-col md:flex-row justify-center items-start gap-8 md:gap-[42px] max-w-screen lg:max-w-[1134px] px-4 lg:px-0 mt-[40px] md:mt-24 lg:mt-[151px] pb-[35.5px] md:pb-8">
    <div class="order-2 md:order-1 w-full md:w-[560px] h-[193px] md:h-[322px] rounded-[15px] overflow-hidden" data-aos="fade-up">
      <img src="/main/patios.webp" alt="Patios Pressure Pros" width="3072" height="4096" style="display: block; width: 100%; height: 100%; object-fit: cover;" loading="lazy" decoding="async">
    </div>
    <div class="order-1 md:order-2 flex flex-col justify-center items-center  md:items-start gap-2" data-aos="fade-down">
      <h2 class="text-[24px] md:text-[44px] font-semibold text-main">{t['about-us'].team.title}</h2>
      <p class="text-[13px] md:text-[16px] font-normal leading-[25px] max-w-[478px] text-center md:text-start text-secondary" set:html={t['about-us'].team.description}></p>
    </div>
  </section>
  <section class="flex flex-col justify-center items-center mt-0 lg:mt-[151px] mb-[40px] md:mb-[96px] gap-10 max-w-screen lg:max-w-[1134px] px-4 lg:px-0">
    <h2 set:html={t['about-us'].stand.title} class="text-[24px] md:text-[40px] text-secondary font-normal text-center md:[-webkit-text-stroke-width:1px] md:[-webkit-text-stroke-color:var(--color-main)]"></h2>
    <div class="w-full flex flex-col justify-center items-center gap-10">
      {t['about-us'].stand.list.map((item,index)=>{
        const transition = index % 2 === 0 ? 'fade-right' : 'fade-left';
        return (
          <div class="w-full flex justify-center items-center gap-[18px] md:gap-[40px] lg:gap-[115px] py-10 px-[18px] md:px-[96px] rounded-[15px] border-[1px] md:border-[3px] border-secondary max-h-none md:max-h-[231px]" data-aos={transition}>
            <p class="text-[105px] lg:text-[128px] font-semibold text-center text-secondary">{item.letter}</p>
            <div class="flex flex-col justify-center items-start gap-[15px] w-full"   >
              <div class="w-full bg-main text-white rounded-[15px] px-[13px] md:px-[25px] py-[14px] h-[86px] md:h-auto flex items-center">
                <p class="text-[24px] lg:text-[64px] font-semibold text-start leading-[29px] md:leading-[58px]">{item.title}</p>
              </div> 
              <p class="text-[13px] md:text-[16px] leading-[20px] md:leading-[25px] text-normal text-start">{item.description}</p>
            </div>
          </div>
        )
       })}
    </div>
  </section>
  <Project content={t['about-us'].project}/>
</Layout>