---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../i18n/en').default;
type FooterContent = Translations['footer'];
interface Props {
  content?: FooterContent;
}
const { content } = Astro.props as Props;
const icons = [
  {
    name: 'email',
    href: '',
  },
  {
    name: 'map',
    href: '',
  },
  {
    name: 'instagram',
    href: '',
  },
  {
    name: 'facebook',
    href: '',
  },
];
---
<footer class="w-full flex justify-between items-center max-w-[1149px] py-[57px]">
  <div class="w-[173px] h-[173px] rounded-full bg-primary-light"></div>
  <div class="w-full flex justify-between items-start max-w-[851px]">
    <div class="flex flex-col items-start justify-center gap-[32px] max-w-[389px]">
      <p class="text-[16px] leading-[25px] font-medium text-start">{content?.text}</p>
      <div class="flex items-center gap-[6px]">
          {icons.map(i => (
            <a href={i.href} class="size-[31px] bg-primary-dark-bold rounded-full flex justify-center items-center">
              <Icon name={i.name} class={"w-5 h-5 text-white"}/>
            </a>
          ))}
        </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-[55px]">
      <div class="flex flex-col items-center justify-center gap-[13px]">
        <p class="text-[24px] font-semibold leading-[20px] text-center text-primary-dark-bold">{content?.hours}</p>
        <p class="text-[24px] leading-[20px] text-center text-primary-dark-bold">9:00am - 8:00pm</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-[13px]">
        <p class="text-[15px] font-semibold leading-[20px] text-center text-primary-dark-bold">{content?.call}</p>
        <a href="" class="text-center text-[20px] font-bold leading-[22px] text-primary-dark">(407) 493-0858</a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-end gap-[18px]">
      <p class="text-[16px] leading-[20px] font-semibold text-right text-primary-dark-bold">{content?.links_title}</p>
      <div class="flex flex-col items-end gap-[26px]">
        {content?.links.map(item => (
          <a href={item.href} class="text-right text-[15px] font-normal leading-[20px] text-primary-dark-bold uppercase hover:font-bold transition-all duration-300 ease-in-out">{item.label}</a>
        ))}
      </div>
    </div>
  </div>
</footer>