---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../i18n/en').default;
type FooterContent = Translations['footer'];
interface Props {
  content?: FooterContent;
}
const { content } = Astro.props as Props;
const icons = [
  {
    name: 'email',
    href: '',
  },
  {
    name: 'map',
    href: '',
  },
  {
    name: 'instagram',
    href: '',
  },
  {
    name: 'facebook',
    href: '',
  },
];
const currentPath = Astro.url.pathname;
const normalized = currentPath.replace(/^\/(en|es)/, '') || '/';
// Detectar el idioma actual ('en' o 'es')
const match = currentPath.match(/^\/(en|es)/);
const lang = match ? match[1] : 'en';
---
<footer class="flex flex-col justify-center items-center w-full">
<div class="w-full flex flex-col lg:flex-row justify-center lg:justify-between items-center lg:items-start max-w-screen lg:max-w-[1149px] px-4 lg:px-0 pt-[85px] pb-[96px] lg:py-[57px] gap-9 lg:gap-0 min-h-none lg:min-h-[438px]">
  <img src="/logo-2.svg" alt="Logo de PresureProps" width="218" height="218" class="hidden lg:block w-[218px] h-[218px]">
  <div class="w-full flex flex-col lg:flex-row justify-center lg:justify-between items-center lg:items-start max-w-[851px] gap-7 lg:gap-0">
    <img src="/logo-2.svg" alt="Logo de PresureProps" width="218" height="218" class="lg:hidden block w-[105px] h-[105px]">
    <div class="flex flex-col items-center lg:items-start justify-center gap-[13px] md:gap-[32px] max-w-[389px]">
      <p class="text-[13px] md:text-[16px] leading-[17px] md:leading-[25px] font-medium text-center md:text-start">{content?.text}</p>
      <div class="flex items-center gap-[6px]">
          {icons.map(i => (
            <a href={i.href} class="size-[27px] md:size-[31px]  rounded-full flex justify-center items-center">
              <Icon name={i.name} class={"w-4 md:w-5 h-4 md:h-5 text-main"}/>
            </a>
          ))}
        </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-9 lg:gap-[55px]">
      <div class="flex flex-col items-center justify-center gap-2 md:gap-[13px]">
        <p class="text-[14px] md:text-[24px] font-semibold leading-[20px] text-center text-main">{content?.hours}</p>
        <p class="text-[12px] md:text-[24px] leading-[20px] text-center text-secondary">9:00am - 8:00pm</p>
      </div>
      <div class="flex flex-col items-center justify-center gap-2 md:gap-[13px]">
        <p class="text-[13px] md:text-[15px] font-semibold leading-[20px] text-center text-main">{content?.call}</p>
        <a href="" class="text-center text-[14px] md:text-[20px] font-bold leading-[20px] md:leading-[22px] text-secondary">+1(954) 716-4971</a>
      </div>
    </div>
    <div class="w-full md:w-auto order-first md:order-last flex flex-col justify-center items-center md:items-end gap-[23px] md:gap-[18px]">
      <p class="text-[16px] leading-[20px] font-semibold text-right text-main">{content?.links_title}</p>
      <div class="flex flex-col items-center lg:items-end gap-5 w-full md:gap-[26px]">
        {content?.links.map((item,index) => {
          const isActive = normalized === item.href || (index === 1 && normalized.startsWith('/services'))
          return (
            <a href={`/${lang}${item.href}`} class={`w-full text-left  lg:text-right text-[13px] md:text-[15px] font-medium leading-[20px]  uppercase hover:font-bold transition-all duration-300 ease-in-out ${isActive?'text-main':'text-secondary'}`}>{item.label}</a>
          )  
        })}
      </div>
    </div>
  </div>
</div>
<div class="w-full flex flex-col lg:flex-row justify-center items-center bg-[#E5E5E5] py-[14px] md:py-[18px] gap-0 md:gap-4 lg:gap-7">
  <img src="/footer-logo.webp" alt="Imagen del Footer" width="3745" height="996" class="w-[110px] md:w-[136px] h-[29px] md:h-[37px]">
  <p class="text-[#404040] text-[10px] md:text-[13px] leading-[17px] md:leading-[46px] text-center max-w-[304px] md:max-w-none">Copyright © 2025 by Inkshape Group | Privacy | Jz Pressure Pros | Orlando, Florida | Call Now: (954) 716-4971</p>
</div>
</footer>
