---
import { Icon } from 'astro-icon/components';
import Button from '../../components/Button.astro';
import CarouselHero from '../../components/CarouselHero.astro';

type Translations = typeof import('../../i18n/es').default;
type CompletedContent = Translations['main']['completed'];
interface Props {
  content: CompletedContent;
}
const { content } = Astro.props as Props;
---
<section class="flex flex-col justify-center items-center gap-[61px] md:gap-0 pt-[26px] pb-[70px] md:py-[115px] overflow-y-visible max-w-screen lg:max-w-[1215px] w-full px-4 lg:px-0">
  <div class="flex flex-col justify-center items-center gap-[53px] w-full mb-0 md:mb-[53px]">
    <div class="flex flex-col md:flex-row justify-center md:justify-between items-center md:items-end px-0 md:px-8 w-full gap-[18px] md:gap-0">
      <h2 set:html={content.title} class="text-secondary text-[24px] lg:text-[40px] font-normal leading-[26px] lg:leading-[46px] text-center md:text-start max-w-none md:max-w-[537px] "></h2>
      <Button class='bg-main px-[38px]' href='gallery'>
          {content.button}
        </Button>
    </div>
  </div>
  <CarouselHero images={content.images} />
  <div class="flex flex-col justify-center items-center gap-7 w-full max-w-screen md:max-w-[1138] px-4 md:px-0 mt-0 md:mt-[80px] lg:mt-[130px]">
    <div class="w-full flex md:justify-start justify-center items-center gap-[26px] px-3">
      <div class="w-[42px] md:w-[62px] h-[42px] md:h-[62px] rounded-full border-[1px] border-secondary overflow-hidden flex items-center justify-center flex-shrink-0">
        <img src="/logo-2.svg" alt="Patios Pressure Pros" width="1024" height="1024" style="display: block; object-fit: cover;" loading="lazy" decoding="async" class="w-[35px] md:w-[50px] h-[35px] md:h-[50px]">
      </div>
      <div class="flex flex-col justify-center md:justify-start items-start gap-[3px] flex-1">
        <a href="https://www.instagram.com/jzpressurepros/">
          <h3 class="text-[14px] md:text-[20px] font-bold leading-[28px] text-start text-main cursor-pointer">{content.name}</h3>
        </a>
        <p class="text-[13px] md:text-[16px] font-medium leading-[16px] md:leading-[19.6px] text-start text-secondary">{content.description}</p>
      </div>
    </div>
    <div class=" grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-[10px] w-full -mb-56 hidden">
      {Array.from({ length: 8 }).map((_, index) => (
        <div class="w-full h-[336px] md:h-[277px] bg-[#D9D9D9] flex justify-center items-center">
        </div>
      ))}
    </div>
    <a href="https://www.instagram.com/jzpressurepros/" class="bg-[#408bd1] py-1 px-4 text-[16px] text-white flex items-center gap-2 rounded-[5px] hover:-translate-y-1 transition-all duration-300 ease-in-out">
      <Icon name="instagram" class={"w-4 h-4"}/>
      <p>
        {content.buttonig}
      </p>
    </a>
  </div>
</section>