---
import { Icon } from 'astro-icon/components';

type Translations = typeof import('../../i18n/es').default;
type WorkingContent = Translations['main']['information']['working'];
interface Props {
  content: WorkingContent;
}
const { content } = Astro.props as Props;
---
<div class="flex flex-col justify-center items-center gap-0 md:gap-11 mb-[93.5px] md:mb-0">
  <h2 class="text-[22px] lg:text-[48px] text-center font-semibold leading-[26px] md:leading-[58px] text-secondary mt-[22px] md:mt-0 mb-[45px] md:mb-0 max-w-[336px] md:max-w-none">{content.title}</h2>
  <div class="flex flex-col md:flex-row justify-center items-center border-[1px] border-main rounded-[15px] max-w-[241px] md:max-w-none">
    {content.items.map((item, index) => (
      <>
        <div class="relative flex flex-col justify-start items-center pt-[65.5px] lg:pt-[60px] px-5 min-h-[354px] md:min-h-[413px] h-full max-w-none md:max-w-[240px]" data-aos="fade-up" data-aos-offset={`${index * 80}`}>
          <div class="absolute top-0 -translate-y-1/2 bg-main rounded-[15px] p-[10px] w-[114px]">
            <p class="text-[12px] lg:text-[16px] font-normal lg:font-medium text-center text-white ">{item.step}</p>
          </div>
          <img src={`/main/${item.icon}.svg`} alt={item.title} class="w-[55px] lg:w-[87px] h-[55px] lg:h-[87px] mb-[30px] lg:mb-[38px] text-[#27A5F2]" width="87" height="87"/>
          <h3 class="mb-[30px] md:mb-[20px] text-[18px] lg:text-[30px] font-semibold leading-[18px] lg:leading-[30px] text-secondary text-center mt-[10px] md:mt-0">{item.title}</h3>
          <p class="text-[13px] lg:text-[16px] font-medium leading-[18px] lg:leading-[25px] text-secondary text-center">{item.description}</p>
        </div>
        {index < content.items.length - 1 && (
          <div class="w-full md:w-[1px] h-[1px] md:min-h-[413px] bg-main"></div>
        )}
      </>
    ))}
  </div>
</div>